{% extends 'web_base.twig' %}

{% block title %} {{  parent() }} - Avaleht {% endblock %}

{% block content %}
    <div class='block'>
        <h3>Admin-paneel</h3>

        Tunniplaan
        Menüü
        Teated
        Lisa kasutaja
        Seaded
        Logi välja


    </div>
{% endblock %}