{% extends 'web_base.twig' %}

{% block title %} {{  parent() }} - Men端端 lisamine {% endblock %}

{% block content %}
    <div class='block'>
        <h3>Admin-paneel - Men端端 lisamine</h3>

    </div>
{% endblock %}