{% extends 'web_base.twig' %}

{% block title %} {{  parent() }} - Kasutaja seaded {% endblock %}

{% block content %}
    <div class='block'>
        <h3>Admin-paneel - Kasutaja seaded</h3>



    </div>
{% endblock %}