{% extends 'web_base.twig' %}

{% block title %} {{  parent() }} - Teadete lisamine {% endblock %}

{% block content %}
    <div class='block'>
        <h3>Admin-paneel - Teadete lisamine</h3>

        <div class="contentleft">
            <form action="/mnrg/admin/teated/sisesta" method="POST">
                <table border='0'>
                    <textarea rows="40" cols="60" name="content"></textarea>
                    <tr><td><input type="submit" value="Saada teade"></td></tr>
                </table>
            </form>
        </div>
    </div>

        {% for t in teade %}
            <div class="contentright">
                {{ t.content }}
                <br><br><br><b>{{ t.username }}</b>
                <br>{{ t.date }}
            </div>
        {% endfor %}
{% endblock %}