{% extends 'web_base.twig' %}

{% block title %} {{  parent() }} - Uue kasutaja lisamine {% endblock %}

{% block content %}
    <div class='block'>
        <h3>Admin-paneel - Uue kasutaja lisamine</h3>



    </div>
{% endblock %}