{% extends 'web_base.twig' %}

{% block title %} {{  parent() }} - Avaleht {% endblock %}

{% block content %}
    <div class='block'>
        <h2>Admin-paneel</h2>
        Üleval on navigeerimise menüü kust saab muuta tunniplaani, söökla menüüd ja kooli teateid
    </div>
{% endblock %}