{% extends 'web_base.twig' %}

{% block title %} {{  parent() }} - Avaleht {% endblock %}

{% block content %}
    <div class='block'>
        <h3>Admin-paneel uue kasutaja lisamine</h3>



    </div>
{% endblock %}