<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<!-- By: Marko Käär -->
<html>
<head>
    {% block head %}
    <title>{% block title %}M.NRG{% endblock %}</title>
    <link rel="icon" type="image/png" href="/mnrg/img/favicon.png">

    <meta name="description" content="Mobile nrg.tartu.ee">
    <meta name="keywords" content="mobile, nrg, Nõo Reaalgümnaasium">
    <meta name="author" content="Marko Käär">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

        {% block style %}
        <link rel='stylesheet' type='text/css' href='/mnrg/css/style.css'>
        {% endblock %}
    {% endblock %}
</head>

<body>
    <div id='wrap'>
        <div id='header'>
            <a href='/mnrg/index.php' alt='M_NRG'>Header</a>
            {% block menu %}
                <div id='menu-button'>
                    <nav>
                        <a href='#' alt='menu'><img src='/mnrg/img/menu_button.png' alt='' width='50px'></a>
                        <ul>
                            <li><a href="/mnrg/" class="current">Avalehht</a></li>
                            <li><a href="/mnrg/tunniplaan">Tunniplaan</a></li>
                            <li><a href="/mnrg/menyy">Menüü</a></li>
                            <li><a href="/mnrg/teated">Teated</a></li>
                            <li><a href="https://nrg.ope.ee/">Stuudium</a></li>
                        </ul>
                    </nav>
                </div>
            {% endblock %}
        </div>

        <div id='content'>
            {% block content %} {% endblock %}
        </div>

        <div id='footer'>
            mNRG<br>
            Footer2 <br>
        </div>
    </div> <!-- Wrap l6pp -->
</body>
</html>