{% extends 'base.twig' %}

{% block title %} {{  parent() }} - Avaleht {% endblock %}

{% block content %}
        <div class='block'>
            <h2>M.NRG Pealeht</h2>
            M.NRG on Nõo Reaalgümnaasiumi õpilastele mõeldud veebipõhine rakendus.<br>
            Paremal üleval on navigeerimiseks menüü, kust saab ligipääsu tunniplaanile, söökla menüüle, viimastele kooli teadetele ja stuudiumile.
        </div>
{% endblock %}