{% extends 'base.twig' %}

{% block title %} {{  parent() }} - Men端端 {% endblock %}

{% block content %}
    <div class='block'>
        <h2>Men端端</h2>

        <!-- index.php failis toimub pdf-parsing, kasutab nrg kodulehe menyy.pdf -->
        {% autoescape false %}
            {{ menyy|nl2br }}
        {% endautoescape %}

    </div>
{% endblock %}

