{% extends 'base.twig' %}

{% block title %} {{  parent() }} - Teated {% endblock %}

{% block content %}
    <div class='block'>
        <h3>Teated</h3>
        <p>Siia hakkame kuvama teateid ja tundide muudatusi.
        </p>
    </div>

    {% for t in teade %}
        <div class="block">
            {{ t.content }}
            <br><br><br><b>{{ t.username }}</b>
            <br>{{ t.date }}
        </div>
    {% endfor %}
{% endblock %}