{% extends 'base.twig' %}

{% block title %} {{  parent() }} - Teated {% endblock %}

{% block content %}
    <div class='block'>
        <h2>Teated</h2>
    </div>
    {% for t in teade %}
        <div class="block">
            {{ t.content }}
            <br><br><br><b>{{ t.username }}</b>
            <br>{{ t.date }}
        </div>
    {% endfor %}
{% endblock %}