{% extends 'base.twig' %}

{% block title %} {{  parent() }} - Tunniplaan {% endblock %}

{% block content %}
    <div class='block'>
        <h3>Tunniplaan</h3>
        <p>Siia tuleb tunniplaan k6igile klassidele esialgu, hiljem valikusse ka
        klassid eraldi.
        </p>
    </div>
{% endblock %}